mat-divider {
  &.mat-divider.mat-divider-horizontal {
    background-color: #b5c1c8;
  }
}

nav {
  &.mat-nav {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .mat-nav-button {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
}

.mat-chart {
  margin-top: 1rem;
}
