<nav class="mat-nav">
  <section>
    <div class="mat-nav-button">
      <button
        mat-flat-button
        type="button"
        color="primary"
        aria-label="Back"
        class="back"
        (click)="backPage()"
      >
        <mat-icon>arrow_back_ios</mat-icon> BACK
      </button>
    </div>
  </section>
</nav>

<mat-divider></mat-divider>

<main>
  <mat-card>
    <form
      [formGroup]="productForm"
      class="example-form"
      (ngSubmit)="addProduct()"
    >
      <mat-card-title>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Title</mat-label>
                <input
                  matInput
                  placeholder="I Dolci di Sara"
                  id="title"
                  type="text"
                  formControlName="title"
                />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Category</mat-label>
              <input
                matInput
                placeholder="Brownie con erbette"
                id="category"
                type="text"
                formControlName="category"
              />
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Descrition</mat-label>
              <input
                matInput
                placeholder="Dolci"
                id="description"
                type="text"
                formControlName="description"
              />
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Employee</mat-label>
              <input
                matInput
                placeholder="Gigi"
                id="employee"
                type="text"
                formControlName="employee"
              />
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Price</mat-label>
              <input
                matInput
                placeholder="5.00€"
                id="price"
                type="number"
                min="0"
                formControlName="price"
              />
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Reviews</mat-label>
              <input
                matInput
                placeholder="Bravissimo"
                id="reviews"
                type="text"
                formControlName="reviews"
              />
            </mat-form-field>
          </tr>
        </table>
      </mat-card-content>
      <mat-divider></mat-divider>
      <div *ngIf="errorMessage">{{ errorMessage }}</div>
      <mat-card-actions>
        <button
          mat-flat-button
          type="button"
          color="primary"
          aria-label="add product"
          class="add-product"
          [disabled]="!isValid()"
        >
          <!-- [clickPage]="pageGetAllProducts(store.id)" -->

          <mat-icon>cookie</mat-icon> PRODUCTS
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</main>
