<nav class="mat-nav">
  <section>
    <div class="mat-nav-button">
      <button
        mat-flat-button
        type="button"
        color="primary"
        aria-label="Back"
        class="sback"
        (click)="backPage()"
      >
        <mat-icon>arrow_back_ios</mat-icon> BACK
      </button>
      <!-- <button
        mat-flat-button
        type="button"
        color="primary"
        aria-label="Back"
        class="back"
        (click)="backPage()"
      >
        <mat-icon>arrow_back_ios</mat-icon> BACK
      </button> -->
      <button
        mat-flat-button
        type="button"
        color="primary"
        aria-label="View"
        class="view"
        (click)="statusLayout = !statusLayout"
      >
        <mat-icon *ngIf="!statusLayout">view_module</mat-icon>
        <mat-icon *ngIf="statusLayout">view_stream</mat-icon> PRODUCTS
      </button>
      <button
        mat-flat-button
        type="button"
        color="primary"
        aria-label="Create Product"
        class="create"
        (click)="pagePostProduct(idStore)"
      >
        <mat-icon>create</mat-icon> CREATE PRODUCT
      </button>
      <button
        mat-flat-button
        type="button"
        color="primary"
        aria-label="Chart"
        class="timeline"
        (click)="pageGetChart(idStore)"
      >
        <mat-icon>timeline</mat-icon> CHART
      </button>
    </div>
  </section>
</nav>

<mat-divider></mat-divider>

<div class="mat-card-container" *ngIf="statusLayout">
  <app-products-card-item
    class="card_material"
    *ngFor="let product of products"
    [product]="product.data"
    (delete)="openDialog(dialogProduct, product.id)"
    (detail)="pageGetProduct(idStore, product.id)"
  ></app-products-card-item>
</div>

<div class="mat-accordion-container" *ngIf="!statusLayout">
  <app-products-list-item
    *ngFor="let product of products"
    [product]="product.data"
    (delete)="openDialog(dialogProduct, product.id)"
    (detail)="pageGetProduct(idStore, product.id)"
  ></app-products-list-item>
</div>

<ng-template #dialogProduct let-data>
  <h1 mat-dialog-title>Delete file</h1>
  <div mat-dialog-content>Would you like to delete product?</div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      (click)="deleteProduct(idStore, data.product)"
    >
      Ok
    </button>
  </div>
</ng-template>
