mat-accordion {
  &.mat-accordion {
    margin: 2rem;
  }

  mat-expansion-panel {
    &.mat-expansion-panel {
      background-color: #b5c1c8;

      mat-panel-title {
        &.mat-expansion-panel-header-title {
          width: 10rem;
        }
      }

      mat-panel-description {
        &.mat-expansion-panel-header-description {
          flex-grow: 5;
          justify-content: space-between;

          div {
            &.mat-product-accordion-item {
              width: 7rem;
            }

            &.mat-product-accordion-button {
              display: flex;
              gap: 1rem;
            }
          }
        }
      }
    }
  }
}
