<div *ngFor="let store of stores">
  <nav class="mat-nav">
    <section>
      <div class="mat-nav-button">
        <button
          mat-flat-button
          type="button"
          color="primary"
          aria-label="products"
          class="cookie"
          (click)="pageGetAllProducts(store.id)"
        >
          <!-- [clickPage]="pageGetAllProducts(store.id)" -->
          <mat-icon>cookie</mat-icon> PRODUCTS
        </button>
      </div>
    </section>
  </nav>

  <mat-divider></mat-divider>

  <main>
    <mat-card>
      <mat-card-title>
        Title:
        {{ store.data.name }}
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p><b>Category:</b> {{ store.data.category }}</p>
        <p><b>Employees:</b> {{ store.data.employees }}</p>
      </mat-card-content>
    </mat-card>
  </main>
</div>
