.page-home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-image: url("../Images/dolci..jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  button {
    margin-top: 1rem;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    display: flex;
    flex-direction: row;

    h1,
    mat-icon {
      color: #fff;
    }

    mat-icon {
      margin-top: 0.2rem;
      animation: slide1 1s ease-in-out infinite;
      margin-left: 0.5rem;
    }
  }

  @keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(10px, 0);
    }
  }
}
